

    body{
      padding-top: 70px;
    }

   .vending-machine-container{
      width: 400px;
   	height: 500px;
   	margin: 0 auto;
   }

   .vending-machine{
   	border-radius: 5px; 
   	background-color: #2196F3;
   	padding: 50px 20px;
   }

   .coin-denominations:hover{
   	background-color: #2196F3;
   	cursor: pointer;
   }

   .scoreboard{
   	background-color: #1565C0;
   	color: white;
   	padding: 10px;
   	margin: 5px;
   }

   .products li:hover{
   	background-color: #E0E0E0;
   	cursor: pointer;
   }